.header {
  display: flex;
  justify-content: space-between; /* Spread h1 and social links */
  align-items: center; /* Vertical alignment */
  background-color: #333;
  color: white;
  padding: 1rem;
  min-height: 40px;
  position: relative; /* Makes nav positioning relative to the header */
}

.header nav {
  position: absolute; /* Position nav absolutely */
  left: 50%; /* Move to the center horizontally */
  transform: translateX(-50%); /* Adjust to truly center */
}

.header h1 {
  font-size: 1.5rem; /* Ajusta el tamaño del texto */
  margin: 0; /* Elimina el margen extra */
  line-height: 1; /* Mantén la altura de línea compacta */
}

.header ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.nav li {
  font-weight: bold;
}

.header a {
  color: white;
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}

/* Nuevos estilos para los enlaces sociales */
.social-links-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Nuevos estilos para los enlaces sociales */
.social-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.social-links a {
  color: white;
  font-size: 1.5rem; /* Tamaño más grande para los iconos */
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #0077b5; /* Ejemplo: azul de LinkedIn */
}


.cv-link {
  font-family: Arial, sans-serif; /* O usa la fuente que prefieras */
  font-weight: bold; /* Haz que se vea más destacada */
  font-size: 1.6rem !important;  /*Igual que los iconos */
  display: flex; /* Alineación similar a los íconos */
  align-items: center; /* Centrado vertical */
  vertical-align: middle; /* Centrado vertical */
  transform: translateY(-3px); /* Mueve el texto hacia arriba */
}

.cv-link:hover {
  color: #0077b5; /* Ejemplo: azul profesional */
  text-decoration: none !important; /* Quita el subrayado */
}